*{  
    padding: 0;
    margin: 0;
}

h1#heading{
    text-align: center;
    margin-top: 40px;
}

#Container{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px auto 0 auto;
    width: 80%;
    border-radius: 10px;
    padding:20px 20px 30px 20px ;
}

.input-div{
    /* display: inline-block; */
    padding: 10px;

}

.input-div > h1 {
    /* border: 1px solid black; */
    margin-top: 11px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-left: 15px;
    color: #222222

}
.equal{
    margin-top: 20px;
}

.inpt{
    padding: 5px 10px;
    box-shadow: 5px 8px black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    width: 200px; 
}

label{
    font-size: 20px;
}
